[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
moviepy = "*"
pyinstaller = "*"
opencv-python = "*"
pyqt5 = "*"
python-vlc = "*"

[dev-packages]

[requires]
python_version = "3.12"
